:root {
  --action-button-press: 70%;
  --border-radius-circle: 9999rem;
  --color-white: #FFFFFF;
  --color-black: #291D1F;
  --color-theme: #097EAE;
  --color-add: #05875C;
  --color-delete: #BC1319;
  --color-divider-category: #888888;
  --color-divider-grocery-item: #EBEBEB;
  --font-family-primary: sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.3rem;
  --font-size-4: 1.4rem;
  --gap: 0.5rem;
  --gutter: 1rem;
  --line-height-1: 1;
  --line-height-2: 1.2;
  --line-height-3: 1.3;
  --line-height-4: 1.4;
  --tracking-tight: -0.5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Core */
html {
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  text-size-adjust: 100%;

  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-family-primary);
  font-size: 130%;
  line-height: var(--line-height-3);
  min-height: 100%;
}

/* Overall app layout */
.main {
  margin: calc(var(--gutter) * 2) var(--gutter) calc(var(--gutter) * 8) var(--gutter);
}

/* Utilities */
.margin-bottom-tiny {
  margin-bottom: 0.5rem;
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.margin-bottom-medium {
  margin-bottom: 2rem;
}

.margin-bottom-large {
  margin-bottom: 3rem;
}


/* Base styling */
h1,
h2 {
  line-height: var(--line-height-1);
}

input[type="text"] {
  border: 1px solid var(--color-black);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  padding: 1rem 0.75rem;
  width: 100%;
}

button {
  border: none;
  color: var(--color-white);
}


/* App header */
.app-bar {
  background-color: var(--color-theme);
  color: #fff;
  padding: 1rem;
}

/* Titles */
.title-app,
.title-category {
  letter-spacing: var(--tracking-tight);
}

.divider {
  border-top: 1px dashed var(--color-divider-category);
  padding-top: 1rem;
  margin-top: 3rem;
}


/* Wrappers */
.wrapper-input {
  display: flex;
  gap: var(--gap);
}

/* Buttons */
.button-add:active,
.button-delete:active,
.button-completed:active {
  filter: brightness(var(--action-button-press)); /* Adds a pressed effect */
}

.button-add {
  background-color: var(--color-add);
}

.button-add:active {
  padding-top: 0.25rem;
}

.button-delete {
  --button-delete-size: 1.5rem;

  background-color: var(--color-delete);
  border-radius: var(--border-radius-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-delete-size);
  margin-top: 0.25rem;
  width: var(--button-delete-size);
}

.button-delete svg {
  --button-delete-icon-size: 0.75rem;

  height: var(--button-delete-icon-size);
  width: var(--button-delete-icon-size);
}

.button-completed {
  --button-completed-size: 1.75rem;

  background-color: var(--color-add);
  border-radius: var(--border-radius-circle);
  height: var(--button-completed-size);
  width: var(--button-completed-size);
}


/* Grocery items */
.grocery-list {
  margin-left: calc(var(--gutter) * 1.25);
}

.grocery-list-item {
  border-bottom: 1px solid var(--color-divider-grocery-item);
  display: flex;
  gap: var(--gap);
  justify-content: space-between; /* Aligns close buttons to the right side of the viewport in a tidy column */
  padding: 0.75rem 0;
}
